@import '~bootstrap/scss/bootstrap';

$alt-color: #9b59b6;
$alt-alt-color: #10c135;
$body-bg-color: #b84904;
$body-bg-color-2: #25963e;
$container-border: #8f522c;
$font-color: #e4dd0c;
$font-color-2: #b84904;
$secondary: #1fcdab;
$second-secondary: #009e1d;
$lines: #f18205;
$button-bg: #009e1d;
$black: #000;

body {
  align-content: center;
  align-items: center;
  background-color: $body-bg-color;
  color: $font-color;
  display: flex;
  flex-direction: column;
  font-family: monospace, sans-serif;
  margin: 10px;
  padding: 10px;
}

button {
  background-color: $button-bg;
  border-radius: 10px;
  border-style: outset;
}

form {
  padding: 5px;
}

h1 {
  font-family: fantasy;
}

input {
  border: 1px solid $lines;
  border-radius: 5px;
}

a {
  color: $font-color;
}

.box {
  align-items: center;
  background-color: $second-secondary;
  border: 1px solid $lines;
  color: $font-color-2;
  display: flex;
  height: 200px;
  justify-content: center;
  width: 100px;
}

.box-set {
  color: $black;
}

.alt-color {
  background-color: $secondary;
}

.headline {
  font-size: 70px;
}

.my-name {
  font-size: 20px;
}

.container {
  border: 20px outset $container-border;
}

.click-space {
  font-size: 90px;
}
