@import '~bootstrap/scss/bootstrap';

$alt-color: #37eb0f;
$body-bg-color: #806320;
$font-color: $white;
$secondary: #0febd7;
$lines: #f18205;


.box {
  align-items: center;
  background-color: $secondary;
  border: 1px solid $lines;
  color: $font-color;
  display: flex;
  height: 200px;
  justify-content: center;
  width: 100px;
}

.alt-color {
  background-color: $alt-color;
}

body {
  align-items: center;
  background-color: $body-bg-color;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

form {
  padding: 5px;
}
