@import '~bootstrap/scss/bootstrap';

$alt-color: #37eb0f;
$body-bg-color: #e9dd21;
$body-bg-color-2: #a79e13;
$font-color: #873600;
$secondary: #0febd7;
$lines: #f18205;
$button-bg: #009e1d;

body {
  align-content: center;
  align-items: center;
  background-color: $body-bg-color-2;
  color: $font-color;
  display: flex;
  flex-direction: column;
  font-family: monospace, sans-serif;
  margin: 10px;
  padding: 10px;
}

button {
  background-color: $button-bg;
  border-radius: 10px;
  border-style: outset;
}

form {
  padding: 5px;
}

h1 {
  font-family: fantasy;
}

input {
  border: 1px solid $lines;
  border-radius: 5px;
}


.box {
  align-items: center;
  background-color: $secondary;
  border: 1px solid $lines;
  color: $font-color;
  display: flex;
  height: 200px;
  justify-content: center;
  width: 100px;
}

.box-set {
  color: $black;
}

.alt-color {
  background-color: $alt-color;
}

.headline {
  font-size: 70px;
}

.my-name {
  font-size: 20px;
}

.container {
  border: 50px outset $font-color;
}

.click-space {
  font-size: 90px;
}
